
        <div class="sort-by-lotd desktop-version" style="display:inline-block;">
            <div class="form-label">{{ 'collections.sorting.title' | t }}:</div>
            <div class="select-wrapper-sm">
                <select class="form-control input-sm SortBy"  name="sort_by" id="sort_by">
                    <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
                    <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
                    <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
                    <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
                    <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
                    <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
                </select>
            </div>
        </div>
