



    <footer class="page-footer variant4 fullboxed">

        <div class="footer-middle">
            <div class="">
                <div class="">
    			<div class="col-md-7 col-lg-7">
    			<div class="col-md-4 col-lg-4">
                        <div class="footer-block  collapsed-mobile">
                               {{ settings.footer_2_col_1 }}   
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="footer-block  collapsed-mobile">
                               {{ settings.footer_2_col_2 }}  
                         
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="footer-block  collapsed-mobile">
                           	   {{ settings.footer_2_col_3 }} 
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                    </div>
    				</div>
    			<div class="col-md-5 col-lg-5 custom-receive-news">
                  <div class="ques-wrap">
    			<h2><strong>want some love mail?</strong></h2>
                    <div class="our-online-team"><strong>receive news on the latest trends &amp; deals </strong></div>
               
                    <div class="custom-form-wrap">
                <form>
                    <input class="form-control cust-text1" type="text" name="email" placeholder="Your email address">
                    <input class="btn cust-btn" type="submit" name="submit" value="">
                    <span class="right_arrow"></span>
                    </form></div>
                  </div>
    			</div>
    				
    				
    				
                </div>
            </div>
         
        </div>
        <div class="footer-bot">
            <!--<div class="container">
                <div class="row">
                    <div class=" col-md-12 col-lg-12">
                        <div class="footer-copyright text-center"> &copy; {{ settings.copyright }} </div>
                        {% if settings.footer_show_methods_of_payment %}
                            <div class="footer-payment-link  text-center">
                                <a><img src="{{ 'icon-pay-1.png' | asset_url }}" alt=""></a>
                                <a><img src="{{ 'icon-pay-2.png' | asset_url }}" alt=""></a>
                                <a><img src="{{ 'icon-pay-3.png' | asset_url }}" alt=""></a>
                                <a><img src="{{ 'icon-pay-4.png' | asset_url }}" alt=""></a>
                                <a><img src="{{ 'icon-pay-5.png' | asset_url }}" alt=""></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>-->
          {% include 'section-social' %}
        </div>
    </footer>

