{% assign right = settings.product_right_description_yes %}
{% if product_image_size == '6' %}{% assign right = false %}{% endif %}
{% case product_image_size %}
  {% when '3' %}
    {% assign column_1 = 'col-sm-5 col-md-3' %}
    {% assign column_2 = 'col-sm-7 col-md-9' %}
    {% if right %}
        {% assign column_1 = 'col-sm-6 col-md-3 col-lg-3' %}
        {% assign column_2 = 'col-sm-6 col-md-9 col-lg-6' %}
    {% endif %}
  {% when '4' %}
    {% assign column_1 = 'col-sm-5 col-md-4' %}
    {% assign column_2 = 'col-sm-7 col-md-8' %}
    {% if right %}
        {% assign column_1 = 'col-sm-6 col-md-4 col-lg-4' %}
        {% assign column_2 = 'col-sm-6 col-md-8 col-lg-5' %}
    {% endif %}
  {% when '5' %}
    {% assign column_1 = 'col-sm-5 col-md-5' %}
    {% assign column_2 = 'col-sm-7 col-md-7' %}
    {% if right %}
        {% assign column_1 = 'col-sm-6 col-md-5 col-lg-5' %}
        {% assign column_2 = 'col-sm-6 col-md-7 col-lg-4' %}
    {% endif %}
  {% when '6' %}
    {% assign column_1 = 'col-sm-5 col-md-6' %}
    {% assign column_2 = 'col-sm-7 col-md-6' %}
    {% if right %}
        {% assign column_1 = 'col-sm-6 col-md-6  col-lg-6' %}
        {% assign column_2 = 'col-sm-6 col-md-6  col-lg-3' %}
    {% endif %}
{% endcase  %}
{% assign column_1 = 'col-md-6' %}
{% assign column_2 = 'col-md-6' %}
{% assign column_3 = 'col-md-4 hidden-quickview' %}


{{ 'jquery.pan.css' | asset_url | stylesheet_tag }}
{{ 'jquery.pan.js' | asset_url | script_tag }}

<div class="block product-block page-design-lotd">
    <div class="container">
        <div class="row">
            <div class="{{ column_1 }}">
                <!-- Product Gallery -->
                <div class="col-md-12 lotd-product-images">
                    <div class="col-md-3 vertical-carousel-content">
                        <div id="vertical-carousel">
                            {% for image in product.images %}
                                <a href="#" data-image="{{ image.src | img_url: 'master' }}" data-zoom-image="{{ image.src | img_url: 'master' }}"><img src="{{ image.src | img_url: 'medium' }}" alt="" /></a>

                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="main-image">
                            {% assign featured_image = product.featured_image %}
                            <img src="{{ featured_image | img_url: 'master' }}" alt="{{ featured_image.alt | escape }}" id="main-image" class="zoom pan" data-big="{{ featured_image | img_url: 'master' }}" data-zoom-image="{{ featured_image | img_url: 'master' }}">
                            <div class="dblclick-text"><span>Double click for enlarge</span></div>
                            {% if product.description contains '[video]' %} <a href="{{ product.description | split:'[video]' | last | split :'[/video]' | first }}" class="video-link"><i class="icon icon-film"></i></a>{% endif %}
                        </div>
                    </div>

                </div>
                {% if product.images.size > 1 %}
                    {% for image in product.images %}
                        <!--gallery buffer-->
                        <img alt="" src="{{ image.src | img_url: 'master' }}" style="display: none" />
                    {% endfor %}
                    <div class="product-previews-wrapper">
                        <div class="product-previews-carousel" id="previewsGallery">
                            {% for image in product.images %}
                                    <a href="#" data-image="{{ image.src | img_url: 'master' }}" data-zoom-image="{{ image.src | img_url: 'master' }}"><img src="{{ image.src | img_url: 'medium' }}" alt="" /></a>

                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <!-- /Product Gallery -->
            </div>
            <div class="{{ column_2 }}">
                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    {% assign variant = product.selected_or_first_available_variant %}
                    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                    <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
                    <div class="product-info-block classic">
                        <div class="product-name-wrapper">
                            <h1 itemprop="name" class="product-name">{{ product.title | capitalize }}</h1>
                            <div class="price" itemprop="price" content="{{ product.price | money_without_currency }}">
                                {% capture price %}{{ product.price | money }}{% endcapture %}
                                {% if on_sale %}
                                    <span class="old-price">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
                                {% endif %}
                                <span class="special-price"> {{ product.selected_or_first_available_variant.price | money }}</span>
                            </div>

                            <div class="product-labels">
                                {% if on_sale  and settings.show_label_sale %}<span class="product-label sale">{{ 'products.product.sale' | t }}</span>{% endif %}
                                {% assign new = 0 %}
                                {% for tag in product.tags %}{% if tag == 'new' %}{% assign new = 1 %}{% endif %} {% endfor %}
                                {% if new == 1  and settings.show_label_new %}<span class="product-label new">{{ 'general.theme.new' | t }}</span>{% endif %}
                            </div>
                        </div>
                        {% comment %}
                        <h3 itemprop="brand">{{ product.vendor }}</h3>
                        {% endcomment %}

                        {% if product.available %}
                            {% if product.description contains '[countdown]' %}
                                {% assign countdown=product.description|split:'[countdown]' %}
                                {% assign countdown=countdown[1]|split:'[/countdown]' %}
                                {% assign countdown=countdown[0] %}
                                {% if on_sale %}
                                    <div class="countdown-circle">
                                        <div class="countdown-wrapper">
                                            <div class="countdown" data-countdown="{{ countdown }}"></div>
                                            <div class="countdown-text">
                                                {% assign percent = product.compare_at_price | minus: product.price | times: 100.0 | divided_by:product.compare_at_price | times: 100 | divided_by: 100 | floor  %}
                                                <div class="text1">{{ 'general.theme.discount' | t :percent:percent }}</div>
                                                <div class="text2">{{ 'general.theme.have_time_to_buy' | t }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif  %}
                        <form action="/cart/add" method="post" enctype="multipart/form-data">
                            {% include 'product-page-options-form' design:'default' %}
                            {% if product.available %}
                                <div class="product-actions">
                                    <div class="row">
                                        <div class="col-md-9">

                                            <div class="actions">
                                                {% assign link_to = false %}
                                                {% if product.description contains '[link_to]' %}
                                                    {% assign link_to = true %}
                                                    {% assign link_to_href = product.description | split:'[link_to]' | last | split :'[/link_to]' | first %}
                                                {% endif %}
                                                {% if link_to %}
                                                    <a  class="btn btn-lg " href="{{ link_to_href }}" target="_blank"><span>{{ 'products.product.add_to_cart' | t }}</span></a>
                                                {% else %}
                                                    <button type="submit" class="btn btn-lg add_to_cart_product_page"><span>{{ 'products.product.add_to_cart' | t }}</span></button>
                                                {% endif %}
                                                <a href="{{ product.url }}" target="_parent" class="btn btn-lg product-details" title="More Info"><i class="icon icon-external-link"></i></a>
                                            </div>
                                            

                                        </div>

                                        <div class="col-md-3">


                                        </div>
                                        
                                    </div>


                                </div>
                            {% endif  %}

                            {% if product.description %}
                                <div class="product-description">
                                    <div class="col-md-9">
                                        <div class="product-description-title">
                                            Product Details
                                        </div>

                                        {{ product.description | replace: '[i]', '<div class="product-info-icon"><span class="product-info-icon"></span></div>' }}

                                        <div class="product-sku">PRODUCT-SKU <span>{{ product.selected_or_first_available_variant.sku }}</span></div>
                                    </div>
                                </div>

                                <div class="col-md-9 product-description-more">
                                    <a class="product-desc-show-more" href="#">SHOW MORE</a>
                                </div>
                            {% endif %}

                        </form>

                        <div class="row">
                            <div class="col-md-9">
                                <div class="delivery-and-size">
                                    {% include 'cust-size-guide' %}

                                    {% include 'cust-delivery' %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9">
                                <ul class="social-icon product-page-icons">
                                    <li><a href=""><img src="//cdn.shopify.com/s/files/1/1854/4327/t/3/assets/facebook-icon.png?8594228755598705661"></a></li>
                                    <li><a href=""><img src="//cdn.shopify.com/s/files/1/1854/4327/t/3/assets/instagram-icon.png?8594228755598705661"></a></li>
                                    <li><a href=""><img src="//cdn.shopify.com/s/files/1/1854/4327/t/3/assets/twitter-icon.png?8594228755598705661"></a></li>
                                    <li><a href=""><img src="//cdn.shopify.com/s/files/1/1854/4327/t/3/assets/envelope.png"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">

</div>
<!-- Size Guide Model Popup Start -->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg"> 
    
    <!-- Modal content-->
    <div class="modal-content" style="background:none; padding:25px; border:none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container123">
          <div class="row">
            <div class="col-sm-12">
              <div>
                <div class="size_guide_title">Size Guide</div>
                <div>
                  <div class="float_left">
                    <ol class="inch_radio_btn">
                      <li>
                        <input type="radio" id="inches" name="selector" value="inch" checked>
                        <label for="inches">Inches</label>
                        <div class="check">
                          <div class="inside"></div>
                        </div>
                      </li>
                    </ol>
                  </div>
                  <div class="float_left">
                    <ol class="inch_radio_btn">
                      <li>
                        <input type="radio" id="centimiters" name="selector" value="centimiter">
                        <label for="centimiters">Centimeters</label>
                        <div class="check">
                          <div class="inside"></div>
                        </div>
                      </li>
                    </ol>
                  </div>
                  <div class="clearfix"></div>
                  <div class="please_note_txt">Please note all conversions are approximate and may vary by label, brand, or personal preference of fit.</div>
                  <div>
                    <div class="inches_size">
                      <table class="table table-bordered inch_centimeter">
                        <thead>
                          <tr>
                            <th width="15%"><div class="size_bg_color">Size Inches</div></th>
                            <th width="15%"> <div class="size_bg_color padding_0_px">
                                <select class="country_dropdown_list" id="select_country_for_size">
                                  <option value="UK">UK</option>
                                  <option value="US / CANADA">US / CANADA</option>
                                  <option value="AUS / NZ">AUS / NZ</option>
                                  <option value="EUROPE">EUROPE</option>
                                </select>
                              </div></th>
                            <th width="15%"><div class="bust_bg_color">Bust</div></th>
                            <th width="15%"><div class="bust_bg_color">Natural Waist</div></th>
                            <th width="15%"><div class="bust_bg_color">Drop Waist</div></th>
                            <th width="10%"><div class="bust_bg_color">Hips</div></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><div class="size_bg_color" >XXS</div></td>
                            <td class="size_country_uk"><div class="size_bg_color2">{{ settings.XXS }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color2">{{ settings.us-XXS }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color2">{{ settings.au-XXS }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color2">{{ settings.eu-XXS }}</div></td>
                            <td><div class="size_bg_color2">32"</div></td>
                            <td><div class="size_bg_color2">24"</div></td>
                            <td><div class="size_bg_color2">26.25"</div></td>
                            <td><div class="size_bg_color2">34"</div></td>
                          </tr>
                          <tr>
                            <td rowspan="2" class="size_cell_2_row">XS</td>
                            <td class="size_country_uk"><div class="size_bg_color_2_3">{{ settings.XS1 }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color_2_3">{{ settings.us-XS1 }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color_2_3">{{ settings.au-XS1 }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color_2_3">{{ settings.eu-XS1 }}</div></td>
                            <td><div class="size_bg_color_2_3">33"</div></td>
                            <td><div class="size_bg_color_2_3">25"</div></td>
                            <td><div class="size_bg_color_2_3">27.25"</div></td>
                            <td><div class="size_bg_color_2_3">35"</div></td>
                          </tr>
                          <tr>
                            <td class="size_country_uk"><div class="size_bg_color_2_3">{{ settings.XS2 }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color_2_3">{{ settings.us-XS2 }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color_2_3">{{ settings.au-XS2 }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color_2_3">{{ settings.eu-XS2 }}</div></td>
                            <td><div class="size_bg_color_2_3">34"</div></td>
                            <td><div class="size_bg_color_2_3">26"</div></td>
                            <td><div class="size_bg_color_2_3">28.25"</div></td>
                            <td><div class="size_bg_color_2_3">36"</div></td>
                          </tr>
                          <tr>
                            <td rowspan="2" class="size_cell_2_2_row">S</td>
                            <td class="size_country_uk"><div class="size_bg_color2">{{ settings.S1 }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color2">{{ settings.us-S1 }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color2">{{ settings.au-S1 }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color2">{{ settings.eu-S1 }}</div></td>
                            <td><div class="size_bg_color2">35"</div></td>
                            <td><div class="size_bg_color2">27"</div></td>
                            <td><div class="size_bg_color2">29.25"</div></td>
                            <td><div class="size_bg_color2">37"</div></td>
                          </tr>
                          <tr>
                            <td class="size_country_uk"><div class="size_bg_color2">{{ settings.S2 }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color2">{{ settings.us-S2 }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color2">{{ settings.au-S2 }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color2">{{ settings.eu-S2 }}</div></td>
                            <td><div class="size_bg_color2">36"</div></td>
                            <td><div class="size_bg_color2">28"</div></td>
                            <td><div class="size_bg_color2">30.25"</div></td>
                            <td><div class="size_bg_color2">38"</div></td>
                          </tr>
                          <tr>
                            <td rowspan="2" class="size_cell_2_row">M</td>
                            <td class="size_country_uk"><div class="size_bg_color_2_3">{{ settings.M1 }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color_2_3">{{ settings.us-M1 }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color_2_3">{{ settings.au-M1 }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color_2_3">{{ settings.eu-M1 }}</div></td>
                            <td><div class="size_bg_color_2_3">37"</div></td>
                            <td><div class="size_bg_color_2_3">29"</div></td>
                            <td><div class="size_bg_color_2_3">31.25"</div></td>
                            <td><div class="size_bg_color_2_3">39"</div></td>
                          </tr>
                          <tr>
                            <td class="size_country_uk"><div class="size_bg_color_2_3">{{ settings.M2 }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color_2_3">{{ settings.us-M2 }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color_2_3">{{ settings.au-M2 }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color_2_3">{{ settings.eu-M2 }}</div></td>
                            <td><div class="size_bg_color_2_3">38"</div></td>
                            <td><div class="size_bg_color_2_3">30"</div></td>
                            <td><div class="size_bg_color_2_3">32.25"</div></td>
                            <td><div class="size_bg_color_2_3">40"</div></td>
                          </tr>
                          <tr>
                            <td rowspan="2" class="size_cell_2_2_row">L</td>
                            <td class="size_country_uk"><div class="size_bg_color2">{{ settings.L1 }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color2">{{ settings.us-L1 }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color2">{{ settings.au-L1 }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color2">{{ settings.eu-L1 }}</div></td>
                            <td><div class="size_bg_color2">39"</div></td>
                            <td><div class="size_bg_color2">31"</div></td>
                            <td><div class="size_bg_color2">33.25"</div></td>
                            <td><div class="size_bg_color2">41"</div></td>
                          </tr>
                          <tr>
                            <td class="size_country_uk"><div class="size_bg_color2">{{ settings.L2 }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color2">{{ settings.us-L2 }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color2">{{ settings.au-L2 }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color2">{{ settings.eu-L2 }}</div></td>
                            <td><div class="size_bg_color2">40"</div></td>
                            <td><div class="size_bg_color2">32"</div></td>
                            <td><div class="size_bg_color2">34.25"</div></td>
                            <td><div class="size_bg_color2">42"</div></td>
                          </tr>
                          <tr>
                            <td><div class="size_bg_color_2_2">XL</div></td>
                            <td class="size_country_uk"><div class="size_bg_color_2_3">{{ settings.XL }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color_2_3">{{ settings.us-XL }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color_2_3">{{ settings.au-XL }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color_2_3">{{ settings.eu-XL }}</div></td>
                            <td><div class="size_bg_color_2_3">41"</div></td>
                            <td><div class="size_bg_color_2_3">33"</div></td>
                            <td><div class="size_bg_color_2_3">35.25"</div></td>
                            <td><div class="size_bg_color_2_3">43"</div></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="centimiter_size">
                      <table class="table table-bordered inch_centimeter">
                        <thead>
                          <tr>
                            <th width="15%"><div class="size_bg_color">Size Inches</div></th>
                            <th width="15%"> <div class="size_bg_color padding_0_px">
                                <select class="country_dropdown_list" id="select_country_for_size_with_centimeter">
                                  <option value="UK">UK</option>
                                  <option value="US / CANADA">US / CANADA</option>
                                  <option value="AUS / NZ">AUS / NZ</option>
                                  <option value="EUROPE">EUROPE</option>
                                </select>
                              </div></th>
                            <th width="15%"><div class="bust_bg_color">Bust</div></th>
                            <th width="15%"><div class="bust_bg_color">Natural Waist</div></th>
                            <th width="15%"><div class="bust_bg_color">Drop Waist</div></th>
                            <th width="10%"><div class="bust_bg_color">Hips</div></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><div class="size_bg_color" >XXS</div></td>
                            <td class="size_country_uk"><div class="size_bg_color2">{{ settings.XXS }}</div></td>
    						<td class="size_country_us_canada"><div class="size_bg_color2">{{ settings.us-XXS }}</div></td>
    						<td class="size_country_aus_nz"><div class="size_bg_color2">{{ settings.au-XXS }}</div></td>
    						<td class="size_country_europe"><div class="size_bg_color2">{{ settings.eu-XXS }}</div></td>
                            <td><div class="size_bg_color2">81.3 CM</div></td>
                            <td><div class="size_bg_color2">61.0 CM</div></td>
                            <td><div class="size_bg_color2">66.7 CM</div></td>
                            <td><div class="size_bg_color2">86.4 CM</div></td>
                          </tr>
                          <tr>
                            <td rowspan="2" class="size_cell_2_row">XS</td>
                            <td class="size_country_uk"><div class="size_bg_color_2_3">{{ settings.XS1 }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color_2_3">{{ settings.us-XS1 }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color_2_3">{{ settings.au-XS1 }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color_2_3">{{ settings.eu-XS1 }}</div></td>
                            <td><div class="size_bg_color_2_3">83.8 CM</div></td>
                            <td><div class="size_bg_color_2_3">63.5 CM</div></td>
                            <td><div class="size_bg_color_2_3">69.2 CM</div></td>
                            <td><div class="size_bg_color_2_3">88.9 CM</div></td>
                          </tr>
                          <tr>
                            <td class="size_country_uk"><div class="size_bg_color_2_3">{{ settings.XS2 }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color_2_3">{{ settings.us-XS2 }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color_2_3">{{ settings.au-XS2 }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color_2_3">{{ settings.eu-XS2 }}</div></td>
                            <td><div class="size_bg_color_2_3">86.4 CM</div></td>
                            <td><div class="size_bg_color_2_3">66.0 CM</div></td>
                            <td><div class="size_bg_color_2_3">71.8 CM</div></td>
                            <td><div class="size_bg_color_2_3">91.4 CM</div></td>
                          </tr>
                          <tr>
                            <td rowspan="2" class="size_cell_2_2_row">S</td>
                            <td class="size_country_uk"><div class="size_bg_color2">{{ settings.S1 }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color2">{{ settings.us-S1 }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color2">{{ settings.au-S1 }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color2">{{ settings.eu-S1 }}</div></td>
                            <td><div class="size_bg_color2">88.9 CM</div></td>
                            <td><div class="size_bg_color2">68.6 CM</div></td>
                            <td><div class="size_bg_color2">74.3 CM</div></td>
                            <td><div class="size_bg_color2">94.0 CM</div></td>
                          </tr>
                          <tr>
                            <td class="size_country_uk"><div class="size_bg_color2">{{ settings.S2 }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color2">{{ settings.us-S2 }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color2">{{ settings.au-S2 }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color2">{{ settings.eu-S2 }}</div></td>
                            <td><div class="size_bg_color2">91.4 CM</div></td>
                            <td><div class="size_bg_color2">71.1 CM</div></td>
                            <td><div class="size_bg_color2">76.8 CM</div></td>
                            <td><div class="size_bg_color2">96.5 CM</div></td>
                          </tr>
                          <tr>
                            <td rowspan="2" class="size_cell_2_row">M</td>
                            <td class="size_country_uk"><div class="size_bg_color_2_3">{{ settings.M1 }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color_2_3">{{ settings.us-M1 }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color_2_3">{{ settings.au-M1 }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color_2_3">{{ settings.eu-M1 }}</div></td>
                            <td><div class="size_bg_color_2_3">94.0 CM</div></td>
                            <td><div class="size_bg_color_2_3">73.7 CM</div></td>
                            <td><div class="size_bg_color_2_3">79.4 CM</div></td>
                            <td><div class="size_bg_color_2_3">99.1 CM</div></td>
                          </tr>
                          <tr>
                            <td class="size_country_uk"><div class="size_bg_color_2_3">{{ settings.M2 }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color_2_3">{{ settings.us-M2 }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color_2_3">{{ settings.au-M2 }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color_2_3">{{ settings.eu-M2 }}</div></td>
                            <td><div class="size_bg_color_2_3">96.5 CM</div></td>
                            <td><div class="size_bg_color_2_3">76.2 CM</div></td>
                            <td><div class="size_bg_color_2_3">81.9 CM</div></td>
                            <td><div class="size_bg_color_2_3">101.6 CM</div></td>
                          </tr>
                          <tr>
                            <td rowspan="2" class="size_cell_2_2_row">L</td>
                            <td class="size_country_uk"><div class="size_bg_color2">{{ settings.L1 }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color2">{{ settings.us-L1 }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color2">{{ settings.au-L1 }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color2">{{ settings.eu-L1 }}</div></td>
                            <td><div class="size_bg_color2">99.1 CM</div></td>
                            <td><div class="size_bg_color2">78.7 CM</div></td>
                            <td><div class="size_bg_color2">84.5 CM</div></td>
                            <td><div class="size_bg_color2">104.1 CM</div></td>
                          </tr>
                          <tr>
                            <td class="size_country_uk"><div class="size_bg_color2">{{ settings.L2 }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color2">{{ settings.us-L2 }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color2">{{ settings.au-L2 }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color2">{{ settings.eu-L2 }}</div></td>
                            <td><div class="size_bg_color2">101.6 CM</div></td>
                            <td><div class="size_bg_color2">81.3 CM</div></td>
                            <td><div class="size_bg_color2">87.0 CM</div></td>
                            <td><div class="size_bg_color2">106.7 CM</div></td>
                          </tr>
                          <tr>
                            <td><div class="size_bg_color_2_2">XL</div></td>
                            <td class="size_country_uk"><div class="size_bg_color_2_3">{{ settings.XL }}</div></td>
                            <td class="size_country_us_canada"><div class="size_bg_color_2_3">{{ settings.us-XL }}</div></td>
                            <td class="size_country_aus_nz"><div class="size_bg_color_2_3">{{ settings.au-XL }}</div></td>
                            <td class="size_country_europe"><div class="size_bg_color_2_3">{{ settings.eu-XL }}</div></td>
                            <td><div class="size_bg_color_2_3">104.1 CM</div></td>
                            <td><div class="size_bg_color_2_3">83.8 CM</div></td>
                            <td><div class="size_bg_color_2_3">59.5 CM</div></td>
                            <td><div class="size_bg_color_2_3">109.2 CM</div></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Size Guide Model Popup End -->

<script>
$(document).ready(function(e) {
	//Select Inch and Centimeter Start
	
	$('input:radio[name="selector"]').change(function(){
			if($(this).val() === 'inch'){
			   $(".centimiter_size").hide();
			   $(".inches_size").show();
			}
			else if ($(this).val() === 'centimiter'){
			   $(".centimiter_size").show();
			   $(".inches_size").hide();
			}
		});
	
	//Select Inch and Centimeter End
	
	//Select Country Size With Inches Start
    $("#select_country_for_size").change(function(){
		var country = ($("#select_country_for_size option:selected").text());
		if(country == "US / CANADA")
		{
			$("tr td.size_country_uk").hide();
			$("tr td.size_country_aus_nz").hide();
			$("tr td.size_country_europe").hide();
			$("tr td.size_country_us_canada").show();
		}
		else if(country == "UK"){
			$("tr td.size_country_uk").show();
			$("tr td.size_country_aus_nz").hide();
			$("tr td.size_country_europe").hide();
			$("tr td.size_country_us_canada").hide();
		}
		else if(country == "AUS / NZ"){
			$("tr td.size_country_uk").hide();
			$("tr td.size_country_aus_nz").show();
			$("tr td.size_country_europe").hide();
			$("tr td.size_country_us_canada").hide();
		}
		else if(country == "EUROPE"){
			$("tr td.size_country_uk").hide();
			$("tr td.size_country_aus_nz").hide();
			$("tr td.size_country_europe").show();
			$("tr td.size_country_us_canada").hide();
		}
	});
	//Select Country Size With Inches End
	
	
	//Select Country Size With Centimeters Start
    $("#select_country_for_size_with_centimeter").change(function(){
		var country = ($("#select_country_for_size_with_centimeter option:selected").text());
		if(country == "US / CANADA")
		{
			$("tr td.size_country_uk").hide();
			$("tr td.size_country_aus_nz").hide();
			$("tr td.size_country_europe").hide();
			$("tr td.size_country_us_canada").show();
		}
		else if(country == "UK"){
			$("tr td.size_country_uk").show();
			$("tr td.size_country_aus_nz").hide();
			$("tr td.size_country_europe").hide();
			$("tr td.size_country_us_canada").hide();
		}
		else if(country == "AUS / NZ"){
			$("tr td.size_country_uk").hide();
			$("tr td.size_country_aus_nz").show();
			$("tr td.size_country_europe").hide();
			$("tr td.size_country_us_canada").hide();
		}
		else if(country == "EUROPE"){
			$("tr td.size_country_uk").hide();
			$("tr td.size_country_aus_nz").hide();
			$("tr td.size_country_europe").show();
			$("tr td.size_country_us_canada").hide();
		}
	});
	//Select Country Size With Centimeters End

});
</script>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="block">
                {% if settings.product_related_enable %}
                    {% include 'related-products-isif' %}
                {% endif %}
            </div>
        </div>

        <div class="col-md-6">
            <div class="block">
                {% include 'buy-related-products' %}
            </div>
        </div>
    </div>
</div>