{% assign product_image_size = settings.product_image_size %}
{% assign product_options = settings.product_options %}
{% if product.description contains 'product-image-size-small' %}{% assign product_image_size = '3' %}{% endif %}
{% if product.description contains 'product-image-size-medium' %}{% assign product_image_size = '4' %}{% endif %}
{% if product.description contains 'product-image-size-medium-x' %}{% assign product_image_size = '5' %}{% endif %}
{% if product.description contains 'product-image-size-big' %}{% assign product_image_size = '6' %}{% endif %}
{% if product.description contains 'product-options-select' %}{% assign product_options = 'select' %}{% endif %}
{% if product.description contains 'product-options-swatches' %}{% assign product_options = 'swatches' %}{% endif %}
{% assign sold_out = true %}
{% if product.available %}
    {% assign sold_out = false %}
{% endif %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
{% endif %}
<a href="#" class="selected-currency hidden">{{ shop.currency }}</a>
<div itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
    {% if design == 'default' %}{% include 'product-page-design-default' %}{% elsif design == 'isif' %}{% include 'product-page-design-isif' %}{% else %} {% include 'product-page-design-creative' %} {% endif %}
</div>

{% if design != 'isif' %}
	{% if settings.product_related_enable %}
		{% include 'related-products' %}
	{% endif %}
{% endif %}

<!-- Size Guide Model Popup Start -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        
        <div class="container123">
<div class="row">
<div class="col-sm-7">

<div class="col-sm-4 padding0">
<div style="width:100%; height:350px; background:#fff;">
  <img src="https://cdn.shopify.com/s/files/1/1854/4327/files/size_guide.png?10114004713734943297" width="183" height="309"> </div>
</div>

<div class="col-sm-8">
<div style="margin-top:30px;">
<p><strong class="black_color">Mesurements Should be taken directly on your body</strong></p>

<div class="margin_bottom_10px">
<div class="alphabet_txt">A:</div>
<div class="mesurment_deskription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
</div>

<div class="margin_bottom_10px">
<div class="alphabet_txt">B:</div>
<div class="mesurment_deskription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
</div>

<div class="margin_bottom_10px">
<div class="alphabet_txt">C:</div>
<div class="mesurment_deskription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
</div>

<div class="margin_bottom_10px">
<div class="alphabet_txt">D:</div>
<div class="mesurment_deskription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
</div>

<div class="margin_bottom_10px">
<div class="alphabet_txt">E:</div>
<div class="mesurment_deskription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
</div>

</div>

</div>
</div>

<div class="col-sm-5">
<div style="margin-top:30px;">
<div class="size_guide_accordian size_guide_accordian_up_arrow accordian_one">Tops, Blouses, Dresses, Skirts, And Trousers Ets</div>
<div class="size_guide_chart" id="accordian_one">
<table class="table table-bordered">
<thead>
  <tr>
    <th><div>Size Guide</div></th>
  </tr>
</thead>

</table>

<table class="table table-bordered">
<tbody>
  <tr>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="9%">XS</td>
    <td width="9%">S</td>
    <td width="13%">S - M</td>
    <td width="9%">M</td>
    <td width="13%">M - L</td>
    <td width="8%">L</td>
    <td width="9%">XL</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
    <td>UK</td>
    <td>4</td>
    <td>6</td>
    <td>8</td>
    <td>10</td>
    <td>12</td>
    <td>14</td>
    <td>16</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
    <td>EUROPE</td>
    <td>32</td>
    <td>34</td>
    <td>36</td>
    <td>38</td>
    <td>40</td>
    <td>44</td>
    <td>44</td>
  </tr>
  
  <tr>
  <td colspan="9" class="left_right_border_none"></td>
  </tr>
  
  <tr>
    <td>BUST</td>
    <td>INCHES</td>
    <td>30</td>
    <td>31</td>
    <td>32</td>
    <td>34</td>
    <td>36</td>
    <td>38</td>
    <td>40</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>CM</td>
    <td>77</td>
    <td>80</td>
    <td>82</td>
    <td>87</td>
    <td>92</td>
    <td>97</td>
    <td>102</td>
  </tr>
  
  <tr>
    <td>WAIST</td>
    <td>INCHES</td>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>27</td>
    <td>29</td>
    <td>31</td>
    <td>33</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>CM</td>
    <td>60</td>
    <td>62</td>
    <td>65</td>
    <td>69</td>
    <td>74</td>
    <td>79</td>
    <td>84</td>
  </tr>
  <tr>
    <td>HIPS</td>
    <td>INCHES</td>
    <td>32</td>
    <td>33</td>
    <td>34</td>
    <td>36</td>
    <td>38</td>
    <td>40</td>
    <td>42</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>CM</td>
    <td>82</td>
    <td>84</td>
    <td>87</td>
    <td>92</td>
    <td>97</td>
    <td>102</td>
    <td>107</td>
  </tr>
  
</tbody>
</table>
</div>

<div class="size_guide_accordian show_active accordian_two">Jeans</div>
<div id="accordian_two">
<table class="table table-bordered">
<tbody>
  <tr>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="9%">XS</td>
    <td width="9%">S</td>
    <td width="13%">S - M</td>
    <td width="9%">M</td>
    <td width="13%">M - L</td>
    <td width="8%">L</td>
    <td width="9%">XL</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
    <td>UK</td>
    <td>4</td>
    <td>6</td>
    <td>8</td>
    <td>10</td>
    <td>12</td>
    <td>14</td>
    <td>16</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
    <td>EUROPE</td>
    <td>32</td>
    <td>34</td>
    <td>36</td>
    <td>38</td>
    <td>40</td>
    <td>44</td>
    <td>44</td>
  </tr>
</tbody>
</table>
</div>

<div class="size_guide_accordian show_active accordian_three">Jeans</div>
<div id="accordian_three">
<table class="table table-bordered">
<tbody>
  <tr>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="9%">XS</td>
    <td width="9%">S</td>
    <td width="13%">S - M</td>
    <td width="9%">M</td>
    <td width="13%">M - L</td>
    <td width="8%">L</td>
    <td width="9%">XL</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
    <td>UK</td>
    <td>4</td>
    <td>6</td>
    <td>8</td>
    <td>10</td>
    <td>12</td>
    <td>14</td>
    <td>16</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
    <td>EUROPE</td>
    <td>32</td>
    <td>34</td>
    <td>36</td>
    <td>38</td>
    <td>40</td>
    <td>44</td>
    <td>44</td>
  </tr>
</tbody>
</table>
</div>
<div class="size_guide_accordian show_active accordian_four">Jeans</div>
<div id="accordian_four">
<table class="table table-bordered">
<tbody>
  <tr>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="9%">XS</td>
    <td width="9%">S</td>
    <td width="13%">S - M</td>
    <td width="9%">M</td>
    <td width="13%">M - L</td>
    <td width="8%">L</td>
    <td width="9%">XL</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
    <td>UK</td>
    <td>4</td>
    <td>6</td>
    <td>8</td>
    <td>10</td>
    <td>12</td>
    <td>14</td>
    <td>16</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
    <td>EUROPE</td>
    <td>32</td>
    <td>34</td>
    <td>36</td>
    <td>38</td>
    <td>40</td>
    <td>44</td>
    <td>44</td>
  </tr>
</tbody>
</table>
</div>

</div>
</div>

</div>
</div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Size Guide Model Popup End -->

{% if product.available %}
    <script>
        $options=$('.product-options');
        $select=$('select',$options);
        $ul=$('ul',$options);
        function updateSelectOptionsDisabling(){
            $('option',$select.not(':first')).attr("disabled","disabled");
            for(a in product_options[$select.first().val()]){
                $('option[value='+a+']',$select).removeAttr("disabled","disabled");
                for(b in product_options[$select.first().val()][a]){
                    $('option[value='+b+']',$select).removeAttr("disabled","disabled");
                }
            }
        }
        function updateListOptionsDisabling(){
            for(a in product_options[$('li.active a',$ul.first()).data('value')]){
                $('a[data-value='+a+']',$ul).parent().removeClass("absent-option");
                for(b in product_options[$('li.active a',$ul.first()).data('value')][a]){
                    $('a[data-value='+b+']',$ul).parent().removeClass("absent-option");
                }
            }
        }

        function currencyUpdate(){


            Currency.convertAll(shopCurrency, jQuery('.selected-currency').text());

        }

        $(function($) {


            if(inIframe())
            {
                setTimeout(function(){
                    if ($(".product-previews-carousel").length) {
                        var $this = $(".product-previews-carousel");
                        $this.imagesLoaded(function() {
                            $this.slick({
                                slidesToShow: 3,
                                slidesToScroll: 1,
                                dots: false,
                                focusOnSelect: true,
                                infinite: false
                            });
                        })
                        $this.on('click', '.slick-slide', function() {
                            $('.zoom-link').removeClass('disable-gallery');
                        })
                    }
                },1400)
            }else{
                if ($(".product-previews-carousel").length) {
                    var $this = $(".product-previews-carousel");
                    $this.imagesLoaded(function() {
                        $this.slick({
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            dots: false,
                            focusOnSelect: true,
                            infinite: false
                        });
                    })
                    $this.on('click', '.slick-slide', function() {
                        $('.zoom-link').removeClass('disable-gallery');
                    })
                }
            }



            {% unless product_options == 'swatches' %}updateSelectOptionsDisabling();{% endunless %}
            $select.first().addClass('first');
            $ul.first().addClass('first');
            $select.change(function(){
                {% unless product_options == 'swatches' %}updateSelectOptionsDisabling();{% endunless %}
                if($(this).hasClass('first'))
                {
                    for (var first_option_to_select in product_options[$select.first().val()])break;
                    $('option',$select.not(':first')).removeAttr("selected");
                    $('option[value='+first_option_to_select+']',$select.not(':first')).attr("selected","selected");
                }
                updateData('select');
                Currency.convertAll('{{ shop.currency }}', Currency.cookie.read());
            })
            {% if product_options == 'swatches' %}

            function setFixedAbsent(){
                $('li',$ul).addClass("absent-option");
                $('li',$ul.first()).removeClass('absent-option');
                first_active=$('li.active a',$ul.first()).data('value');
                $('a',$ul).each(function(){
                    val=$(this).data('value');
                    if($(this).closest('ul').data('index')!=0)
                        for (b in product_options[first_active])
                            for (c in product_options[first_active][b])
                            {
                                switch($(this).closest('ul').data('index')) {
                                    case 1:
                                        if(product_options[first_active]!=undefined && product_options[first_active][val]!=undefined)
                                            $('a[data-value='+val+']',$ul).parent().removeClass('absent-option');
                                        break;
                                    case 2:
                                        if(product_options[first_active]!=undefined && product_options[first_active][b]!=undefined && product_options[first_active][b][val]!=undefined)
                                            $('a[data-value='+val+']',$ul).parent().removeClass('absent-option');
                                }
                            }
                })
            }



            $('a',$ul).click(function(e){
                $('li',$(this).parent()).removeClass('active');
                $('li.active.absent-option',$ul).each(function(){
                    $(this).removeClass('active').siblings().not('.absent-option').first().addClass('active');
                });
                $(this).parent().addClass('active');
                updateData('ul > li.active > a');
                Currency.convertAll('{{ shop.currency }}', Currency.cookie.read());
                e.preventDefault();
            })


            $('a',$ul)
                    .mouseenter(function() {
                        val=$(this).data('value');
                        $('li',$ul).addClass("absent-option");
                        $(this).parent().removeClass('absent-option').siblings().removeClass('absent-option');
                        for (a in product_options)
                            for (b in product_options[a])
                                for (c in product_options[a][b])
                                {
                                    switch($(this).closest('ul').data('index')) {
                                        case 0:
                                            if(product_options[val]!=undefined && product_options[val][b]!=undefined && product_options[val][b][c]!=undefined)
                                                $('a[data-value='+b+'],a[data-value='+c+']',$ul).parent().removeClass('absent-option');
                                            break;
                                        case 1:
                                            if(product_options[a]!=undefined && product_options[a][val]!=undefined && product_options[a][val][c]!=undefined)
                                                $('a[data-value='+a+'],a[data-value='+c+']',$ul).parent().removeClass('absent-option');
                                            break;
                                        default:
                                            if(product_options[a]!=undefined && product_options[a][b]!=undefined && product_options[a][b][val]!=undefined)
                                                $('a[data-value='+a+'],a[data-value='+b+']',$ul).parent().removeClass('absent-option');
                                    }
                                }
                    })
                    .mouseleave(function() {
                        $('li',$ul).removeClass("absent-option");
                        setFixedAbsent();
                    });

            setFixedAbsent();







            {% endif %}
            {% if settings.product_ajax %}
            {% if settings.ajax_cart %}
                $('.add_to_cart_product_page').on('click',function(e){
                    $(this).addClass('btn-loading').addClass('disabled').blur().html('<i class="icon icon-spinner spin"></i><span>{{ 'general.theme.adding' | t }}</span>');
                    if($('.toggleStack'.length))$('.toggleStack').click();
                    parent.CartJS.addItem($('input[name=id]').val(), $('[name=quantity]').val(),{}, {
                        "success": function(data, textStatus, jqXHR) {
                            if($('.add_to_cart_product_page').length){
                                setTimeout(function(){
                                    $('.add_to_cart_product_page').removeClass('btn-loading').removeClass('disabled');
                                    $('.add_to_cart_product_page').html("<i class='icon icon-cart'></i><span>{{ 'general.theme.added' | t }}</span>");
                                },1000)
                                setTimeout(function(){
                                    $('.add_to_cart_product_page').html("<i class='icon icon-cart'></i><span>{{ 'products.product.add_to_cart' | t }}</span>");
                                },2000)
                                setTimeout(function(){
                                    $('.toggleStack').click();
                                },3000)
                            }
                        },
                        "error": function(jqXHR, textStatus, errorThrown) {
                            $('#modalError .modal-body p').text(errorThrown);
                            $('#modalError').modal('show');
                        }
                    });
                    e.preventDefault();
                })

        {% endif %}
            {% endif %}
        });

        $(window.parent).on('cart.requestComplete', function(event, cart) {
            parent.cartPopupUpdate();
            parent.productStackUpdate();
        });

    </script>
{% endif %}