<div class="section_below_menu">
    <div class="custom-sbm sbm_middle_column">
        <a href="{{ settings.sbm_middle_column_link }}">
            {{ settings.sbm_middle_column | newline_to_br }}
        </a>
    </div>

    <div class="custom-sbm sbm_left_column">
        <a href="{{ settings.sbm_left_column_link }}">
            {{ settings.sbm_left_column | newline_to_br }}
        </a>
    </div>

    <div class="custom-sbm sbm_right_column">
        <a href="{{ settings.sbm_right_column_link }}">
            {{ settings.sbm_right_column | newline_to_br }}
        </a>
    </div>
</div>

<div class="second_section_below_menu">
    <div class="ssbm_left_column">
        {{ settings.ssbm_left_column }}
    </div>

    <div class="ssbm_middle_column">
        {{ settings.ssbm_middle_column }}
    </div>

    <div class="ssbm_right_column">
        {{ settings.ssbm_right_column }}
    </div>
</div>