<div class="row section-4-banners">
    <div class="block fullwidth">
        <div class="col-md-5">
            <div class="section-4-banners-text" style="background:url({{ 'section-4-banners-1.png' | asset_url }});background-size: 100% 100%;">
                <a href="{{ settings.section-4-banners-link-1 }}"></a>
                <div class="section-4-banners-text-content">
                    {{ settings.section-4-banners-text-1 }}
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="section-4-banners-text" style="background:url({{ 'section-4-banners-2.png' | asset_url }});background-size: 100% 100%;">
                <a href="{{ settings.section-4-banners-link-2 }}"></a>
                <div class="section-4-banners-text-content">
                    {{ settings.section-4-banners-text-2 }}
                </div>
            </div>

            <div class="section-4-banners-text" style="background:url({{ 'section-4-banners-3.png' | asset_url }});background-size: 100% 100%;">
                <a href="{{ settings.section-4-banners-link-3 }}"></a>
                <div class="section-4-banners-text-content">
                    {{ settings.section-4-banners-text-3 }}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="section-4-banners-text" style="background:url({{ 'section-4-banners-4.png' | asset_url }});background-size: 100% 100%;">
                <a href="{{ settings.section-4-banners-link-4 }}"></a>
                <div class="section-4-banners-text-content">
                    {{ settings.section-4-banners-text-4 }}
                </div>
            </div>
        </div>
    </div>
</div>