<div class="container">
  <div class="row">

    <div class="col-xs-4 col-md-4 col-lg-4">
      <ul class="sitemap">
      	<li>Sitemap</li>|
      	<li>United Kingdom</li>
      </ul>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
    <ul class="social-icon">
    <li><a href=""><img src="{{ 'f.png' | asset_url }}" ></a></li>
    <li><a href=""><img src="{{ 't.png' | asset_url }}" ></a></li>
    <li><a href=""><img src="{{ 'inst.png' | asset_url }}" ></a></li>
    <li><a href=""><img src="{{ 'snap.png' | asset_url }}" ></a></li>
    <li><a href=""><img src="{{ 'w.png' | asset_url }}" ></a></li>
    <li><a href=""><img src="{{ 'thum.png' | asset_url }}"></a></li>	
    </ul>
      
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
      
      
      <ul class="copyright">
      	<li>&copy;2017 ISIF LTD.All Rights Reserved</li>
      </ul>
    </div>	

  </div>			
</div>