<div class="block">
  <div class="container">
    <!--<div class="title center">
      <h1>{{ 'customer.account.title' | t }}</h1>
    </div>
  </div>-->
</div>

<div class="row grid">
  <div class="col-xs-12 account_title" style="padding: 0 135px; margin-top: 50px;">
  	<h4><strong>MY ACCOUNT</strong></h4>
  </div>
  <div class="col-md-3" style="padding-left:122px;">
    <div class="left-side" style="">
    <ul class="help_and_info_menu">
      <li><a href="#"  class="tablinks active"  >Account information</a></li>
      <li><a href="#"  class="tablinks" >Subscriptions</a></li>
      <li><a href="#"  class="tablinks" >Order history</a></li>
      <li><a href="#"  class="tablinks" >Address book</a></li>
      <li><a href="#"  class="tablinks" >Payment method</a></li>
      <br>
      <br>
      <li><a href="#"  class="tablinks" >Sign out</a></li>
    </ul>
    </div>
  </div>
  
  <div class="col-md-8">
    <div class="right-side">
      <div class="right-side-title">
        <h1 style="text-transform: none;">Order History</h1>
      </div>
      <table class="table table-bordered table-unbordered">
        <thead>
          <tr>
            <th>Order Number</th>
            <th>Date</th>
            <th>Ship to</th>
            <th>Order total</th>
            <th>Order status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">118542772</th>
            <td>15/01/17</td>
            <td>Inge Loock</td>
            <td>£28.19</td>
            <td>Complete</td>
            <td>VIEW ORDER</td>
          </tr>
          <tr class="separator" style ="height: 10px;"></tr>
          <tr>
            <th scope="row">118542772</th>
            <td>15/01/17</td>
            <td>Inge Loock</td>
            <td>£28.19</td>
            <td>Complete</td>
            <td><a href="#
              " style="padding: 10px 20px; border: 1px solid #f1f1f1; color: black;" >VIEW ORDER</a></td>
          </tr>
          <tr class="separator" style ="height: 10px;"></tr>
          <tr>
            <th scope="row">118542772</th>
            <td>15/01/17</td>
            <td>Inge Loock</td>
            <td>£28.19</td>
            <td>Complete</td>
            <td>VIEW ORDER</td>
          </tr>
          <tr class="separator" style ="height: 10px;"></tr>
          <tr>
            <th scope="row">118542772</th>
            <td>15/01/17</td>
            <td>Inge Loock</td>
            <td>£28.19</td>
            <td>Complete</td>
            <td>VIEW ORDER</td>
          </tr>
          <tr class="separator" style ="height: 10px;"></tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>
  
  <!--<div class="col-md-8 form-card">
  <div class="grid__item two-thirds medium-down--one-whole">

    <h4>{{ 'customer.orders.title' | t }}</h4>

    {% comment %}
      If we have past orders, loop through each one
    {% endcomment %}

    {% paginate customer.orders by 20 %}

    {% if customer.orders.size != 0 %}

      <div class="table-wrap">
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th>{{ 'customer.orders.order_number' | t }}</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th>{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
              <tr>
                <td>{{ order.name | link_to: order.customer_url }}</td>
                <td>{{ order.created_at | date: "%b %d, %Y" }}</td>
                <td>{{ order.financial_status_label }}</td>
                <td>{{ order.fulfillment_status_label }}</td>
                <td>{{ order.total_price | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    {% else %}

      <p>{{ 'customer.orders.none' | t }}</p>

    {% endif %}

    {% if paginate.pages > 1 %}
      <div class="text-center">
        {% include 'pagination-custom' %}
      </div>
    {% endif %}

    {% endpaginate %}

  </div>

  <div class="grid__item one-third medium-down--one-whole">
    <h4>{{ 'customer.account.details' | t }}</h4>

    <h5>{{ customer.name }}</h5>

    {% if customer.default_address != nil %}
      <p>
      {{ customer.default_address.address1 }}<br>

      {% if customer.default_address.address2 != "" %}
        {{ customer.default_address.address2 }}<br>
      {% endif %}

      {% if customer.default_address.city != "" %}
        {{ customer.default_address.city }}<br>
      {% endif %}

      {% if customer.default_address.province_code != "" %}
        {{ customer.default_address.province_code | upcase }}<br>
      {% endif %}

      {% if customer.default_address.zip != "" %}
        {{ customer.default_address.zip | upcase }}<br>
      {% endif %}

      {% if customer.default_address.country != "" %}
        {{ customer.default_address.country }}<br>
      {% endif %}

      {% if customer.default_address.phone != "" %}
        {{ customer.default_address.phone }}
      {% endif %}
      </p>

    {% endif %}

    <p><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
  </div>
</div>-->

