{% comment %}<div class="block boxed">
  <div class="container">
    <div class="note form-success" id="ResetSuccess" style="display:none;">
      {{ 'customer.recover_password.success' | t }}<br /><br />
    </div>
    <div class="row row-eq-height">
      {% comment %}
      If a user has successfully requested a new password, the form.posted_successfully? variable
      is set to true within the 'recover_customer_password' form only. Within that form you'll see
      us assign a variable 'reset_success' to true, which is used in JS to show our success message.
      {% endcomment %}

      <div class="col-sm-6">
        <div class="form-card">
          <h4>{{ 'general.theme.new_customer' | t }}</h4>
          <p>{{ 'general.theme.new_customer_desc' | t }}</p>
          <div><a class="btn btn-lg" href="/account/register"><i class="icon icon-user"></i><span>{{ 'layout.customer.create_account' | t }}</span></a></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-card">

          {% form 'customer_login', class:"account-create", id:"customer_login_main" %}
            <h4>{{ 'customer.login.title' | t }}</h4>
            <p>{{ 'general.theme.customer_desc' | t }}</p>
            {{ form.errors | default_errors }}
            <label>{{ 'customer.login.email' | t }}<span class="required">*</span></label>
            <input class="form-control input-lg" type="email" name="customer[email]" id="CustomerEmail" placeholder="{{ 'customer.login.email' | t }}"{% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off" autofocus>
            {% if form.password_needed %}
            <label>{{ 'customer.login.password' | t }}<span class="required">*</span></label>
            {% endif %}
            <input  class="form-control input-lg" type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.login.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>
            <div><button class="btn btn-lg" type="submit">{{  'customer.login.sign_in' | t }}</button><span class="required-text">* Required Fields</span></div>
            {% if form.password_needed %}
            <div class="back"><a href="#" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a></div>
            {% endif %}
          {% endform %}

          <div id="RecoverPasswordForm" style="display: none;">

              <h4 class="section-header__title">{{ 'customer.recover_password.title' | t }}</h4>
            <p>{{ 'customer.recover_password.subtext' | t }}</p>

            {% comment %}
            This form must use 'recover_customer_password'
            {% endcomment %}
            {% form 'recover_customer_password' %}

            {{ form.errors | default_errors }}

            {% comment %}
            form.posted_successfully? is true only inside this form, but we want
            to show a success message outside of it. To do so, set the variable
            reset_success to true, then use JS to show our success message above.
            {% endcomment %}
            {% if form.posted_successfully? %}
              {% assign reset_success = true %}
            {% endif %}

            <label>{{  'customer.recover_password.email' | t }}</label>
            <input class="form-control input-lg" type="email" value="" name="email" id="RecoverEmail" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">

            <p>
              <input type="submit" class="btn btn-lg" value="{{ 'customer.recover_password.submit' | t }}">
            </p>
            <a href="#" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.recover_password.cancel' | t }}</a>
            {% endform %}

          </div>


          {% if shop.checkout.guest_login %}
            <h2>{{ 'customer.login.guest_title' | t }}</h2>

            {% form 'guest_login' %}
            <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
            {% endform %}
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  /*
    Show/hide the recover password form when requested.
  */
  function showRecoverPasswordForm() {
    $('#RecoverPasswordForm').show();
    $('#customer_login_main').hide();
  }

  function hideRecoverPasswordForm() {
    $('#RecoverPasswordForm').hide();
    $('#customer_login_main').show();
  }

  // Allow deep linking to the recover password form
  if (window.location.hash == '#recover') { showRecoverPasswordForm() }

  // reset_success is only true when the reset form is
  {% if reset_success %}
    document.getElementById('ResetSuccess').style.display = 'block';
  {% endif %}
</script>
{% endcomment %}

<div class="customSignInPopup-wrap">
<div class="dropdown-container right customSignInPopup">
                {% form 'customer_login' %}
              <div class="title">Sign In</div>
               <!-- <div class="title">{{ 'customer.login.registered_customers' | t }}</div>
                <div class="top-text">{{ 'customer.login.if_have_title' | t }}</div>-->
                <!-- form -->
              <label>Email Address</label>
                <input type="email" class="form-control" name="customer[email]" placeholder="{{ 'customer.login.email' | t }}*">
              <label>Password</label>  
              <input type="password" class="form-control" name="customer[password]" placeholder="{{ 'customer.login.password' | t }}*">
                <!--<button type="submit" class="btn">{{ 'customer.login.sign_in' | t }}</button>-->
              <button type="submit" class="btn cust-sign">sign in</button>
                <!-- /form -->
                <!--<div class="title">{{ 'customer.login.or' | t }}</div>
                <div class="bottom-text">{{ 'layout.customer.create_account' | t | customer_register_link }}</div>-->
              <hr style="border-top: 1px solid #e7bfbf;">  
              <div class="title"><p>New to the site? Join the #ISawItFirst Girl Gang! </p></div>
              <div class="sub-title"><p>Welcome girl! It’s super quick and easy to set up an account</p></div>
               <!-- <div class="bottom-text">{{ 'layout.customer.create_account' | t | customer_register_link }}</div>
               -->
  <div class="bottom-text"><a id="customer_register_link">create account</a></div>
              
  {% endform %}
</div>
  
<div class="dropdown-container right customRegisterPopup">
    <div class="form-card">
      <h3>{{ 'customer.register.title' | t }}</h3>
      {% form 'create_customer', class:"account-create" %}
      {{ form.errors | default_errors }}
        <label>{{  'customer.register.first_name' | t }}<span class="required">*</span></label>
        <input type="text" class="form-control input-lg" name="customer[first_name]" id="FirstName" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
        <label>{{ 'customer.register.last_name' | t }}<span class="required">*</span></label>
        <input class="form-control input-lg" type="text" name="customer[last_name]" id="LastName" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
        <label>{{ 'customer.register.email' | t }}<span class="required">*</span></label>
        <input class="form-control input-lg" type="email" name="customer[email]" id="Email" placeholder="{{ 'customer.register.email' | t }}" {% if form.errors contains "email" %} class="error"{% elsif form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
        <label>{{ 'customer.register.password' | t }}<span class="required">*</span></label>
        <input class="form-control input-lg" type="password" name="customer[password]" id="CreatePassword" placeholder="{{ 'customer.register.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>
        
       <div class="custom-bottom-text">
        <p>Would you like to get exclusive I Saw It First email updates?</p>
        <div class="custom-check-box"> <span><input class="regular-checkbox" type="checkbox" name="" value=""></span>
          <h5>yes, sign me up for I Saw It First email news, offers, and other promotional communications. I am able to unsubscribe at any time.</h5>
        </div>
      </div>
      <div class="custom-crt-btn"><button class="btn">{{ 'customer.register.submit' | t }}</button><!--<span class="required-text">* Required Fields</span>--></div>
      <div class="back">or <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }} <!--<i class="icon icon-undo"></i>--></a></div>
     
      {% endform %}
    </div>
</div>
  
  
</div>


